{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% tailwind_css %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="../static/js/menu_handling.js"></script>
    <script src="../static/js/new_post.js"></script>
    <link rel="stylesheet" href="../static/css/post.css">
</head>
<body>
    {% include "./menu.html" %}
    {% if user.is_authenticated %}
    <div style="width: 100%; display: flex; flex-direction: row; justify-content: center; padding: 10px;">
        {% include "./new_post.html" %}
    </div>
    <div id="allPosts" style="display: flex; flex-direction: column; border-top: black solid; align-items: center;  padding: 10px;">
        {% for post in posts %}   
            {% include "./post.html" %}
        {% endfor %}
      </div>
    {% else %}
    {% include "./login_template.html" %}
        
    {% endif %}

</body>
</html>