{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% tailwind_css %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="../static/js/menu_handling.js"></script>
</head>
<body>
    {% include "./menu.html" %}
    {% if user.is_authenticated %}
    <div style="display: flex; align-items: flex-start; justify-content: flex-start;">
        <div style="position: relative; display: block; width: 100px; height: 100px;">
            {% load static %}
            <img src="{{ profile_data.profile_image.url }}" alt="Profile Picture" width=100px>  
            <button type="button">Edit Profile</button>
        </div>
        <div style="display: flex; flex-direction: column; padding-left: 10px; ">
            <span style="font-size: 1.5em;">{{ fname }} {{ lname }}</span>
        <span style="font-size: 1em;">@{{ username }}</span>
        <span>{{ profile_data.profile_bio }}</span>
        </div>
    </div>
    
    {% endif %}
</body>
</html>