{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../static/js/input_handling.js"></script>
    <script src="../static/js/menu_handling.js"></script>
    <title>Sign Up</title>
  </head>
  <body>
    {% include "./menu.html" %}
    <div class="sm:p-8 p-2 flex flex-col items-center justify-center ">
      <div style="box-shadow: 0px 0px 10px rgba(0,0,0,0.2);border-radius: 1%;" class="rounded-2xl flex flex-col items-center">
        <h1 class="pt-8 pl-8 pr-8 text-xl font-bold">Register A New Account</h1>
      <form id="form" method="post" action="/signup" class="sm:p-8 p-2 flex flex-col items-center" >
        {% csrf_token %}
          <div class="sm:w-96 w-54">
            <div class="flex sm:flex-row sm:items-center sm:justify-between flex-col">
              {{ form.firstname.label_tag }}
              {{ form.firstname }}
            </div>
            {{ form.firstname.errors }}
            {{ form.firstname.help_text }}
          </div>
        <br>
          <div class="sm:w-96 w-54">
            <div class="flex sm:flex-row sm:items-center sm:justify-between flex-col">
              {{ form.lastname.label_tag }}
              {{ form.lastname }}
            </div>
          <div style="color: red;">
            {{ form.lastname.errors }}
          </div>
          {{ form.lastname.help_text }}
          </div>
          <br>
          <div class="sm:w-96 w-54">
            <div class="flex sm:flex-row sm:items-center sm:justify-between flex-col">
              {{ form.email.label_tag }}
              {{ form.email }}
            </div>
          <div style="color: red;">
            {{ form.email.errors }} 
          </div>
          {{ form.email.help_text }}
          </div>
        <div class="pt-4 flex sm:flex-row sm:items-center sm:justify-between flex-col sm:w-96 w-54">
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <br>
          <div class="w-4/6">
            <div style="color: red;">
              {{ form.username.errors }}
            </div>
            {{ form.username.help_text }}
          </div>
        <br>
        <div class="pt-4 flex sm:flex-row sm:items-center sm:justify-between flex-col sm:w-96 w-54">
          {{ form.password1.label_tag }}
          {{ form.password1 }}  
        </div>
        <br>
        <div class="w-4/6">
          <div style="color:red;">
            {{ form.password1.errors }}
          </div>
          {{ form.password1.help_text }}
        </div>
        <br>
        <div class="pt-4 flex sm:flex-row sm:items-center sm:justify-between flex-col sm:w-96 w-54">
          {{ form.password2.label_tag }}
          {{ form.password2 }}
        </div>
        <br>
        <div class="w-4/6">
          <div style="color:red;">
            {{ form.password2.errors }}
          </div>
          {{ form.password2.help_text }}
        </div>
        <br>
        <input type="submit" name="submit" value="Register" class="bg-sky-500 hover:bg-sky-700 text-white px-8 py-2 rounded-full ml-44 mt-4" style="cursor: pointer"/>
      </form>
      </div>
    </div>
  </body>
</html>
